<h1>Sub-String Detector </h1>

<form action="/results" method="POST">
<input type="text" name="target" autofocus>Enter Target Sub-String</input>
</br>
<input type="text" name="search" autofocus>Enter String to Search</input>
</br>
</br>
<input type="Submit" name="Submit" value="Submit">
</form>
